.poppins-semibold {
    font-weight: 600;
    font-style: normal;
  }

.poppins-thin {
    font-weight: 100;
    font-style: normal;
  }
  
.poppins-light {
    font-weight: 300;
    font-style: normal;
  }
  
.poppins-regular {
    font-weight: 400;
    font-style: normal;
  }
  
.poppins-bold {
    font-weight: 700;
    font-style: normal;
  }
  
.poppins-thin-italic {
    font-weight: 100;
    font-style: italic;
  }
  
.poppins-light-italic {
    font-weight: 300;
    font-style: italic;
  }
  
.poppins-regular-italic {
    font-weight: 400;
    font-style: italic;
  }
  
.poppins-semibold-italic {
    font-weight: 600;
    font-style: italic;
  }
  
.poppins-bold-italic {
    font-weight: 700;
    font-style: italic;
  }


/* Global variables */
:root {
	/* Colors */
	--gray-0: #090b11;
	--gray-50: #141925;
	--gray-100: #283044;
	--gray-200: #3d4663;
	--gray-300: #505d84;
	--gray-400: #6474a2;
	--gray-500: #8490b5;
	--gray-600: #a3acc8;
	--gray-700: #c3cadb;
	--gray-800: #e3e6ee;
	--gray-900: #f3f4f7;
	--gray-999-basis: 0, 0%, 100%;
	--gray-999_40: hsla(var(--gray-999-basis), 0.4);
	--gray-999: #FAFAF0;

	--color-primary: #FF9E97;
	--color-secondary: #FAFAF0;
	--color-background: #FF9E97;
	--color-background2: #FAFAF0;
	--color-accent: #00204C;

	--font-color-one: #00204C;
	--font-color-two: #00204C;
	--font-color-description: #00204C;

	--accent-light: #c561f6;
	--accent-regular: #7611a6;
	--accent-dark: #1c0056;
	--accent-overlay: hsla(280, 89%, 67%, 0.33);
	--accent-subtle-overlay: var(--accent-overlay);
	--accent-text-over: var(--gray-999);

	--link-color: var(--accent-regular);

	/* Gradients */
	--gradient-stop-1: var(--accent-light);
	--gradient-stop-2: var(--accent-regular);
	--gradient-stop-3: var(--accent-dark);
	--gradient-subtle: linear-gradient(150deg, var(--gray-900) 19%, var(--gray-999) 150%);
	--gradient-accent: linear-gradient(
		150deg,
		var(--gradient-stop-1),
		var(--gradient-stop-2),
		var(--gradient-stop-3)
	);
	--gradient-accent-orange: linear-gradient(
		150deg,
		#ca7879,
		var(--accent-regular),
		var(--accent-dark)
	);
	--gradient-stroke: linear-gradient(180deg, var(--gray-900), var(--gray-700));

	/* Shadows */
	--shadow-sm:
		0px 6px 3px rgba(9, 11, 17, 0.01), 0px 4px 2px rgba(9, 11, 17, 0.01),
		0px 2px 2px rgba(9, 11, 17, 0.02), 0px 0px 1px rgba(9, 11, 17, 0.03);
	--shadow-md:
		0px 28px 11px rgba(9, 11, 17, 0.01), 0px 16px 10px rgba(9, 11, 17, 0.03),
		0px 7px 7px rgba(9, 11, 17, 0.05), 0px 2px 4px rgba(9, 11, 17, 0.06);
	--shadow-lg:
		0px 62px 25px rgba(9, 11, 17, 0.01), 0px 35px 21px rgba(9, 11, 17, 0.05),
		0px 16px 16px rgba(9, 11, 17, 0.1), 0px 4px 9px rgba(9, 11, 17, 0.12);

	/* Text Sizes */
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-md: 1.125rem;
	--text-lg: 1.25rem;
	--text-xl: 1.625rem;
	--text-2xl: 2.125rem;
	--text-3xl: 2.625rem;
	--text-4xl: 3.5rem;
	--text-5xl: 4.5rem;

	/* Fonts */
	--font-family: "Poppins", sans-serif;
	--font-weight-h: 600;
	--font-color-h: #00204C;

	--font-weight-one: 400;

	--font-size-h1: 88px;
	--font-size-h3: 50px;
	--font-size-h4: 40px;
	--font-size-h5: 28px;
	--font-size-one: 18px;
	--font-size-two: 15px;
	--font-size-one: 18px;
	--font-size-one: 15px;


	/* Transitions */
	--theme-transition: 0.2s ease-in-out;
}

:root.theme-dark {
	--gray-0: #ffffff;
	--gray-50: #f3f4f7;
	--gray-100: #e3e6ee;
	--gray-200: #c3cadb;
	--gray-300: #a3acc8;
	--gray-400: #8490b5;
	--gray-500: #6474a2;
	--gray-600: #505d84;
	--gray-700: #3d4663;
	--gray-800: #283044;
	--gray-900: #141925;
	--gray-999-basis: 225, 31%, 5%;
	--gray-999: #090b11;

	--color-primary: #FF9E97;
    --color-secondary: #1F1B24;
    --color-background: #FF9E97;
    --color-background2: #1F1B24;
    --color-accent: #FAFAF0;

	--font-color-h: #FAFAF0;
	--font-color-one: #FAFAF0;
    --font-color-two: #FAFAF0;
    --font-color-description: #FAFAF0;

    --font-color-button: #FAFAF0;
    --color-background-button: #CCCCBC;

    --font-color-button-secondary: #00204C;
    --color-background-button-secondary: #CCCCBC;

	--accent-light: #1c0056;
	--accent-regular: #7611a6;
	--accent-dark: #c561f6;
	--accent-overlay: hsla(280, 89%, 67%, 0.33);
	--accent-subtle-overlay: hsla(281, 81%, 36%, 0.33);
	--accent-text-over: var(--gray-0);

	--link-color: var(--accent-dark);

	--gradient-stop-1: #4c11c6;
	--gradient-subtle: linear-gradient(150deg, var(--gray-900) 19%, var(--gray-999) 81%);
	--gradient-accent-orange: linear-gradient(
		150deg,
		#ca7879,
		var(--accent-regular),
		var(--accent-light)
	);
	--gradient-stroke: linear-gradient(180deg, var(--gray-600), var(--gray-800));

	--shadow-sm:
		0px 6px 3px rgba(255, 255, 255, 0.01), 0px 4px 2px rgba(255, 255, 255, 0.01),
		0px 2px 2px rgba(255, 255, 255, 0.02), 0px 0px 1px rgba(255, 255, 255, 0.03);
	--shadow-md:
		0px 28px 11px rgba(255, 255, 255, 0.01), 0px 16px 10px rgba(255, 255, 255, 0.03),
		0px 7px 7px rgba(255, 255, 255, 0.05), 0px 2px 4px rgba(255, 255, 255, 0.06);
	--shadow-lg:
		0px 62px 25px rgba(255, 255, 255, 0.01), 0px 35px 21px rgba(255, 255, 255, 0.05),
		0px 16px 16px rgba(255, 255, 255, 0.1), 0px 4px 9px rgba(255, 255, 255, 0.12);
}

html,
body {
	min-height: 100%;
	overflow-x: hidden;
}

body {
	background-color: var(--gray-999);
	color: var(--gray-200);
	font-family: var(--font-body);
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.1;
	font-family: var(--font-family);
	color: var(--font-color-h);
	font-weight: var(--font-weight-h);
}

.one,
.two,
.desciption {
	line-height: 1.1;
	font-family: var(--font-family);
	color: var(--font-color-one);
	font-weight: var(--font-weight-one);
}

h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

h4 {
	font-size: var(--font-size-h4);
}

h5 {
	font-size: var(--font-size-h5);
}

.one {
  font-size: var(--font-size-one);
  color: var(--font-color-one);
}

.two {
  font-size: var(--font-size-two);
  color: var(--font-color-two);
}

.desciption {
  font-size: var(--font-size-description);
  color: var(--font-color-description);
}

/* Utilities */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.stack {
	display: flex;
	flex-direction: column;
}

.gap-2 {
	gap: 0.5rem;
}
.gap-4 {
	gap: 1rem;
}
.gap-8 {
	gap: 2rem;
}
.gap-10 {
	gap: 2.5rem;
}
.gap-15 {
	gap: 3.75rem;
}
.gap-20 {
	gap: 5rem;
}
.gap-30 {
	gap: 7.5rem;
}
.gap-48 {
	gap: 12rem;
}


/* index */
.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: var(--color-background2); */
  align-items: center;
  padding-bottom: -30px;
}

.explenation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.introductionTitle1 {
  flex: 0 1 20%;
  margin-left: auto;
  margin-right: 15px;
}

.introductionTitle1, .introductionTitle2 {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.introductionTitle2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 139 / 59;
  margin-right: auto;
  color: var(--color-secondary);
  z-index: 1;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.title-container.left {
  flex-direction: row;
}

.title-container.right {
  flex-direction: row-reverse;
}

.svg-bg {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
  pointer-events: none;
  color: var(--color-primary);
  overflow: visible;
}


.multimediaDesignerContainer{
  width: 75%;
  margin: 0 auto;
}

.multimediaDesignerText {
  text-align: center;
  padding-bottom: 50px;
}


/* ScrollAnimation */
.animation-container {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.animation-container img {
  width: 100%;
  display: block;
  user-select: none;
  pointer-events: none;
}

.scroll-section, .scroll-wrapper {
  overflow: hidden;
}

.canvas-container {
  width: 68%;
  max-width: 1600px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

canvas#hero-lightpass {
  display: block;
  width: 100%;
  height: auto;
  background-color: transparent;
}

canvas {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}



/* Buttons */
.project-tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.project-tabs button {
  font-size: var(--font-size-button);
  font-family: var(--font-family-button);
  font-weight: var(--font-weight-button);
  background-color: var(--color-background-inactive-button);
  color: var(--font-color-inactive-button);
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.project-tabs button.active {
  background-color: var(--color-background-button-secondary);
  color: var(--font-color-button-secondary);
}

.base-button {
  font-family: var(--font-family-button);
  font-weight: var(--font-weight-button);
  font-size: var(--font-size-button);
  color: var(--font-color-button);
  background-color: var(--color-background-button);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
  pointer-events: none;
  user-select: none;
  cursor: default;
  border: none;
}

.learn-more-btn {
  align-self: flex-start;
  margin-top: auto;
  margin-left: 15px;
  margin-bottom: 25px;
  width: auto;
  color: var(--color-learn-more-button);
  background-color: var(--color-background-learn-more-button);
}

.projectTitle-buttons-container {
  padding: 15px;
  z-index: 2;
}

@media (min-width: 50em) {
	.lg\:gap-2 {
		gap: 0.5rem;
	}
	.lg\:gap-4 {
		gap: 1rem;
	}
	.lg\:gap-8 {
		gap: 2rem;
	}
	.lg\:gap-10 {
		gap: 2.5rem;
	}
	.lg\:gap-15 {
		gap: 3.75rem;
	}
	.lg\:gap-20 {
		gap: 5rem;
	}
	.lg\:gap-30 {
		gap: 7.5rem;
	}
	.lg\:gap-48 {
		gap: 12rem;
	}
}
