---
// components/ScrollAnimation.astro
// import '../scripts/scrollAnimation.js';
---

<div class="scroll-wrapper">
  <div class="canvas-container">
    <canvas id="hero-lightpass" width="1600" height="1080"></canvas>
  </div>
</div>